<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout :: layout (~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>멤버 추가</title>
</head>
<body>
    <main>
        <form class="py-5" th:action method="post" th:object="${member}">
            <div class="mb-3">
                <label for="name" class="form-label">이름</label>
                <input type="text" class="form-control" id="name" th:field="*{name}">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">주소</label>
                <input type="text" id="address" class="form-control" th:field="*{address}">
            </div>

            <div>
                <div>성별</div>
                <div class="form-check" th:each="type : ${Genders}">
                    <input class="form-check-input" type="radio" th:value="${type.name()}" th:field="*{gender}">
                    <label class="form-check-label" th:for="${#ids.prev('gender')}" th:text="${type.description}">
                        Default radio
                    </label>
                </div>
            </div>

            <div>
                <div>성인 여부</div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="adult" th:field="*{adult}">
                    <label class="form-check-label" for="adult">
                        성인이다.
                    </label>
                </div>
            </div>

            <div>
                <div>취미</div>
                <select class="form-select" th:field="*{hobby}">
                    <option value="">== 취미를 선택하세요 ==</option>
                    <option th:each="hobby : ${hobbies}"  th:value="${hobby.code}" th:text="${hobby.displayName}"
                    ></option>
                </select>
            </div>

            <hr>

            <div class="row mt-5">
                <div class="col">
                    <button class="btn btn-primary w-100" type="submit">저장</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger w-100" type="button" th:onclick="|location.href='@{/members}'|">취소</button>
                </div>
            </div>
        </form>
    </main>
</body>
</html>