<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout :: layout (~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>회원 상세</title>
</head>
<body>
    <main class="py-5">
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" name="itemId" class="form-control" th:field="${member.name}" readonly>
        </div>
        <div>
            <label for="address">주소</label>
            <input type="text" id="address" name="itemName" class="form-control" th:field="${member.address}" readonly>
        </div>

        <div>
            <div>성별</div>
            <div class="form-check" th:each="type : ${Genders}">
                <input class="form-check-input" type="radio" th:value="${type.name()}" th:field="${member.gender}" disabled>
                <label class="form-check-label" th:for="${#ids.prev('gender')}" th:text="${type.description}">
                    Default radio
                </label>
            </div>
        </div>

        <div>
            <div>성인 여부</div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="adult" th:field="${member.adult}" disabled>
                <label class="form-check-label" for="adult">
                    성인이다.
                </label>
            </div>
        </div>

        <div>
            <div>취미</div>
            <select class="form-select" th:field="${member.hobby}" disabled>
                <option value="">== 취미를 선택하세요 ==</option>
                <option th:each="hobby : ${hobbies}"  th:value="${hobby.code}" th:text="${hobby.displayName}"
                ></option>
            </select>
        </div>

        <hr>
        <div class="row mt-5">
            <div class="col">
                <button class="btn btn-primary w-100" th:onclick="|location.href='@{/members/{memberId}/edit(memberId=${member.id})}'|">수정</button>
            </div>
            <div class="col">
                <button class="btn btn-danger w-100" th:onclick="|location.href='@{/members}'|">목록으로</button>
            </div>
        </div>
    </main>
</body>
</html>